<blockquote class="chat question">
  <p><%= @question %></p>
  <cite>-You</cite>
</blockquote>

<blockquote class="chat answer">
  <p><strong><%= @answer %></strong></p>
  <cite>-Your coach</cite>
</blockquote>
