// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.question {
  background-color: #FFFFFF;
}

.answer {
  background-color: #FFFFE1;
}

.chat {
  border-left: 6px solid #DDDDDD;
  margin: 1.5em 0;
  padding: 0.5em 1em;
}
